<!DOCTYPE html>
<html>
<head>
	<title>发现</title>

	<meta charset="utf-8">
	<!-- 可用于媒体查询 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<!-- 加载Boots核心样式 -->
	<link rel="stylesheet" href="bootscss/bootstrap.min.css">
	<!-- 加载Boots（主题文件）可以不引入 -->
	<link rel="stylesheet" href="bootscss/bootstrap-theme.min.css" >
	<!-- 加载独立index样式 -->
	<link rel="stylesheet" type="text/css" href="css/discover.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<!-- 加载Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<!-- 加载JQ -->
	<script type="text/javascript" src="bootsjs/jquery-3.2.1.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="bootsjs/bootstrap.min.js"></script>
	<!-- 加载公共js -->	
	<script src="js/common.js"></script>
</head>
<body>
	<div id="App">
		<div class="discover">
			<!-- 头部 -->
			<header>
				<div class="ElementHeader">
					<div class="ElementHeader-left">
						<img src="images/discover/download.png">
					</div>
					<h1 class="ElementHeader-center">发现</h1>
				</div>
			</header>
			<!-- 广告背景图 -->
			<div>
				<a href="#">
					<img src="images/discover/c19ebf245df0e585f8e7f983c5f68gif.gif" class="top-banner">
				</a>
			</div>
			<!-- 列表一 -->
			<section class="parts">
				<div class="list1">
					<!-- 循环的标签 -->
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(232, 143, 40);">百元红包</p>
							<p class="tips">兴业银行联名卡</p>
						</div>
						<img class="icon" src="images/discover/a45d2b9d7d09bbc49b40d4e626093jpeg.jpeg">
						<img style="display: none;">
					</a>
					<!-- 一个标签的结束 -->
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(255, 153, 0);">金币商城</p>
							<p class="tips">0元好货在这里</p>
						</div>
						<img class="icon" src="images/discover/9c9aea0e856149083d84af3444b78jpeg.jpeg">
						<img style="display: none;">
					</a>
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(204, 51, 0);">有红包快抢</p>
							<p class="tips">礼包福利领不停</p>
						</div>
						<img class="icon" src="images/discover/2bb180f2052c33cfec3852ef2bfccjpeg.jpeg">
						<img style="display: none;">
					</a>
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(27, 169, 225);">推荐有奖</p>
							<p class="tips">5元现金拿不停</p>
						</div>
						<img class="icon" src="images/discover/8d42eef97ff4c1c2b671085358541jpeg.jpeg">
						<img style="display: none;">
					</a>
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(237, 102, 96);">周边优惠</p>
							<p class="tips">领取口碑好券</p>
						</div>
						<img class="icon" src="images/discover/2351e989d4171479ba0d7b5c06053jpeg.jpeg">
						<img style="display: none;">
					</a>
					<a href="#">
						<div class="content">
							<p class="title" style="color: rgb(245, 120, 93);">必吃爆料</p>
							<p class="tips">最夯外卖指南</p>
						</div>
						<img class="icon" src="images/discover/b784087aff96a97f4e5183d0d784fjpeg.jpeg">
						<img style="display: none;">
					</a>
				</div>
			</section>
			<!-- 列表二 -->
			<section class="in">
				<!-- 主标题 -->
				<div class="list2-title">
					<span class="line left"></span><img src="images/discover/clock.png" class="activity-icon">
					限时好礼
				<span class="line right"></span>
				</div>
				<!-- 副标题 -->
				<p class="list2-title2">金币换豪礼</p>
				<!-- 列表二主体 -->
				<div class="list2-content">
					<!-- 循环的标签 -->
					<a class="content"><img src="images/discover/ff69f5a0f5ad5dfff58239d061432jpeg.jpeg" width="324" height="322">
						<div>
							<p class="text">7元饿了么红包</p>
							<div class="price-box">
								<span class="price">
									<span>210金币</span>
								</span>
								<del class="rmb">¥7</del>
							</div>
						</div>
						<span class="discount">特价换购</span>
					</a>
					<!-- 一个标签的结束 -->
					<a class="content"><img src="images/discover/5c1ca7ceca079926933ca418c9eb7jpeg.jpeg" width="324" height="322">
						<div>
							<p class="text">扫地机器人</p>
							<div class="price-box">
								<span class="price">
									<span>9金币</span>
								</span>
								<del class="rmb">¥99</del>
							</div>
						</div>
						<span class="discount">特价换购</span>
					</a>
					<a class="content"><img src="images/discover/bbc669132d02deae9300c45097a19jpeg.jpeg" width="324" height="322">
						<div>
							<p class="text">机械手感键鼠套装</p>
							<div class="price-box">
								<span class="price">
									<span>9金币</span>
								</span>
								<del class="rmb">¥129</del>
							</div>
						</div>
						<span class="discount">限时优惠</span>
					</a>
				</div>
				<div class="boxoff"></div>
				<p class="more">查看更多&gt</p>
			</section>
			<!-- 底部 -->
			<footer >
				<ul >
					<li>
						<a href="../index">
							<img src="images/index/index.png">
							<p>首页</p>
						</a>
					</li>
					<li class="on">
						<a href="../discover">
							<img src="images/index/find.png">
							<p>发现</p>
						</a>
					</li>
					<li>
						<a href="../order">
							<img src="images/index/list.png">
							<p>订单</p>
						</a>
					</li>
					<li>
						<a href="../My">
							<img src="images/index/me.png">
							<p>我的</p>
						</a>
					</li>
				</ul>
			</footer>
		</div>
	</div>

</body>
</html>