<!DOCTYPE html>
<html >
<head>
	<title>我的地址</title>
	<meta charset="utf-8">
	<!-- 加载Boots核心样式 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.5, user-scalable=no"/>
	<link rel="stylesheet" href="bootscss/bootstrap.min.css">
	<!-- 加载Boots（主题文件）可以不引入 -->
	<link rel="stylesheet" href="bootscss/bootstrap-theme.min.css" />
	<!-- 加载JQ -->
	<script type="text/javascript" src="bootsjs/jquery-3.2.1.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="bootsjs/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/MyAddress.css">
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body style="overflow-x:hidden;">
	<header>
		<div class="myHead">
			<div class="glyphicon glyphicon-chevron-left">
			</div>
			<h1>我的地址</h1>
		</div>
		
	</header>
	<main>
		<!-- 我的地址 -->
		<div class="addressCard">
			<div class="addressInfo">
				<p class="infoTitle">
					<span class="username">GodV</span>
					<span>12332112345</span>
				</p>
				<p class="infoAddress">
					<span>广雅路666号</span>
				</p>
			</div>
			<div class="glyphicon glyphicon-edit"></div>
		</div>
<!-- 我的地址 -->
	</main>

	<footer>
		<!-- 新增地址按钮 -->
		<div class="addressBottom">
			<span class="glyphicon glyphicon-plus-sign">
			</span>
			<div class="bottomText">新增收货地址</div>
		</div>
		<!-- 新增地址按钮 -->
		
	</footer>

</body>
</html>