<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 加载Boots核心样式 -->
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!-- 加载Boots（主题文件）可以不引入 -->
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css" />
	<!-- 加载JQ -->
	<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="./js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./css/order.css">
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
</head>
<body>
	<div class="order">
		<header>

			<div class="navbar  navbar-fixed-top leftsp myHead">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<h1 >订单</h1>
			</div>

		</header>
		<div class="orderbody" id="myOrder">
			<div class="ordercard">
					<div class="ordercard-body">
							<a href="#" class="ordercard-avatar">
									<img src="./images/1.png">
							</a>
							<div class="ordercard-content">
									<div class="ordercard-head">
											<div class="title">
												<a href="#" class="name">
													<span class="content">粤好粥点(江南西店)</span>
												</a>
												<p class="status">订单已送达</p>
											</div>
											<p class="datetime">2018-05-09 11:57</p>
									</div>
									<div class="ordercard-detail">
											<p class="detail">
												<span class="productname ellipsis">
										            招牌干蒸皇(8只)
										        </span>
										        <span>等4件商品</span>
											</p>
											<p class="price">¥16.20</p>
									</div>
							</div>
					</div>
					<div class="ordercard-botttom">
						<div class="aa">
							<button class="cardbutton">再来一单</button>
							<button class="cardbutton aaa">评价得金币</button>
						</div>	
					</div>
			</div>
			<div class="ordercard">
					<div class="ordercard-body">
							<a href="#" class="ordercard-avatar">
									<img src="./images/1.png">
							</a>
							<div class="ordercard-content">
									<div class="ordercard-head">
											<div class="title">
												<a href="#" class="name">
													<span class="content">粤好粥点(江南西店)</span>
												</a>
												<p class="status">订单已送达</p>
											</div>
											<p class="datetime">2018-05-09 11:57</p>
									</div>
									<div class="ordercard-detail">
											<p class="detail">
												<span class="productname ellipsis">
										            招牌干蒸皇(8只)
										        </span>
										        <span>等4件商品</span>
											</p>
											<p class="price">¥16.20</p>
									</div>
							</div>
					</div>
					<div class="ordercard-botttom">
						<div class="aa">
							<button class="cardbutton">再来一单</button>
							<button class="cardbutton aaa">评价得金币</button>
						</div>	
					</div>
			</div>
			<div class="ordercard">
					<div class="ordercard-body">
							<a href="#" class="ordercard-avatar">
									<img src="./images/1.png">
							</a>
							<div class="ordercard-content">
									<div class="ordercard-head">
											<div class="title">
												<a href="#" class="name">
													<span class="content">粤好粥点(江南西店)</span>
												</a>
												<p class="status">订单已送达</p>
											</div>
											<p class="datetime">2018-05-09 11:57</p>
									</div>
									<div class="ordercard-detail">
											<p class="detail">
												<span class="productname ellipsis">
										            招牌干蒸皇(8只)
										        </span>
										        <span>等4件商品</span>
											</p>
											<p class="price">¥16.20</p>
									</div>
							</div>
					</div>
					<div class="ordercard-botttom">
						<div class="aa">
							<button class="cardbutton">再来一单</button>
							<button class="cardbutton aaa">评价得金币</button>
						</div>	
					</div>
			</div>
		</div>
		<footer >
			<ul >
				<li class="on">
					<a href="../index">
						<img src="images/index/index.png">
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="../discover">
						<img src="images/index/find.png">
						<p>发现</p>
					</a>
				</li>
				<li>
					<a href="../order">
						<img src="images/index/list.png">
						<p>订单</p>
					</a>
				</li>
				<li>
					<a href="../My">
						<img src="images/index/me.png">
						<p>我的</p>
					</a>
				</li>
			</ul>
		</footer>
	</div>
	<script type="text/javascript">
		

		// function getorder(){
		// 	console.log(111)
		// 	$.ajax({
		// 	type:'get',
		// 	url:'/api/showorder',
		// 	dataType:'json',
		// 	success:function(json){
		// 		console.log(json);
		// 	}
				
		// });
		// }
		// getorder();
	</script>
</body>
</html>