<!DOCTYPE html>
<html>
<head>
	<title>账户信息</title>
	<meta charset="utf-8">

	<script type="text/javascript" src="bootsjs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>

	<link rel="stylesheet" type="text/css" href="bootscss/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootscss/bootstrap-theme.min.css">
	<script type="text/javascript" src="bootsjs/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/update.css">
</head>
<body style="background-color: #eee">
	<div>
		<!-- 头部 -->
		<header class="ElementHeader">
			<div class="infoheader">
				<div class="ElementHeader-left">
					<img src="images/discover/download.png" class="top-banner">
				</div>
				<h1 class="ElementHeader-center">账户信息</h1>
			</div>
		</header>
		<div>
			<section>
				<!-- 输入部分 -->
				<ul class="infobox">
					<li class="box">
						<input type="password" placeholder="旧密码" class="input">
						<span class="hint" style="display: none;">密码长度为 6－20 位</span>
					</li>
					<li class="box">
						<input type="password" placeholder="新密码" class="input">
						<span class="hint" style="display: none;">密码长度为 6－20 位</span>
					</li>
					<li class="box">
						<input type="password" placeholder="确认密码" class="input">
						<span class="hint" style="display: none;">两次密码输入不一致</span>
					</li>
				</ul>
				<!-- 提交 -->
				<button type="button" disabled="disabled" class="submit">确认并保存</button>
			</section>
		</div>
	</div>

</body>
</html>