<!DOCTYPE html>
<html>
<head>
	<title>账户信息</title>
	<meta charset="utf-8">

	<script type="text/javascript" src="bootsjs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>

	<link rel="stylesheet" type="text/css" href="bootscss/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootscss/bootstrap-theme.min.css">
	<script type="text/javascript" src="bootsjs/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/username.css">
</head>
<body style="background-color: #eee">
	<div>
		<!-- 头部 -->
		<header class="ElementHeader">
			<div class="infoheader">
				<div class="ElementHeader-left">
					<img src="images/discover/download.png" class="top-banner">
				</div>
				<h1 class="ElementHeader-center">账户信息</h1>
			</div>
		</header>
		<div class="userbox">
			<!-- 输入框 -->
			<div class="usertext">
				<input type="text" placeholder="用户名">
			</div>
			<div class="buttonbox">
				<p class="buttontitle">用户名只能修改一次（5-24个字）</p>
				<!-- 按钮 -->
				<button type="button" class="button" style="display: block;">确认修改</button>
				<button type="button" class="button2" style="display: none">确认修改</button>
			</div>
		</div>
	</div>

</body>
</html>